<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-icon>lock</mat-icon>
      Iniciar sesión
    </mat-card-title>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-icon matPrefix>vpn_key</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        <mat-icon>login</mat-icon>
        Ingresar
      </button>
    </form>

    <mat-error *ngIf="errorMessage">
      <mat-icon>error</mat-icon>
      {{ errorMessage }}
    </mat-error>
  </mat-card>
</div>
