<div class="admin-container">
  <div class="admin-header">
    <h2>
      <mat-icon>restaurant_menu</mat-icon>
      Gestión de Pizzas
    </h2>
    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add_circle</mat-icon>
      Agregar Pizza
    </button>
  </div>

  <div class="pizza-list">
    <app-card
      *ngFor="let pizza of pizzas"
      [pizza]="pizza"
      [mode]="'admin'"
      (onEdit)="openDialog(pizza)"
      (onDelete)="deletePizza(pizza)"
    >
    </app-card>
  </div>
</div>
